<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js" defer></script>
  </head>
  <body>
    <h1>Hello from HTML!</h1>
    <div id="app">
      {{ message }}
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>
    <div id="app2">
      {{ message2 }}
      <button v-on:click="makeUpperCase">Make Upper Case</button>
    </div>
    <div id="app3">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>
  </body>
</html>